<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mao Mun Tai</title>
    <link href="/public/assets/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/public/assets/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
</head>

<body>
    <section class="main-cover">
        <button id="main-login-butt">Login / Sign Up
        </button>
        <!-- Login Form -->
        <div class="full-menu">
            <div class="fullmenu-content">
                <ul class="page-menu">
                    <h2>Login</h2>
                    <form>
                        <label for="email-login">Email Login</label>
                        <input type="text" id="email" name="email-login" placeholder="User Email">

                        <label for="password">Password</label>
                        <input type="text" id="password" name="lastname" placeholder="Type in your password">

                        <input type="submit" value="Submit">
                    </form>

                    <!-- Sign Up Form -->

                    <button class="collapsible">New Comrade? Sign Up Now!</button>
                    <div class="content">
                        <form>
                            <label for="fname">First Name</label>
                            <input type="text" id="fname" name="firstname" placeholder="Your First Name">

                            <label for="lname">Last Name</label>
                            <input type="text" id="lname" name="lastname" placeholder="Your Last Name">

                            <label for="email">Email</label>
                            <input type="text" id="email" name="email-login" placeholder="Email Use For Future Login">


                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </ul>
            </div>
        </div>
        <a href="#0" class="modal-close">Return to Badass Mao</a>
        </div>
        <div class="cd-transition-layer visible opening">
            <div class="bg-layer"></div>
        </div>
        <!-- Ink Transition -->
        <h1 class="name">Mao Mun Tai</h1>
        <button onclick="curtainUp()">Learn More</button>
    </section>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    {{!-- Custom JavaScript Sheets --}}
    <script src="/public/assets/javascript/events.js"></script>
</body>

</html>