<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
    <nav id="ml-menu" class="menu">
        <button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
        <div class="menu__wrap">
            <ul data-menu="main" class="menu__level menu__level--current" tabindex="-1" role="menu" aria-label="All">
                <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1"
                        aria-owns="submenu-1" href="#">Projects</a></li>
                <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2"
                        aria-owns="submenu-2" href="#">Dashboard</a></li>
            </ul>
            <!-- Submenu 1 -->
            <ul data-menu="submenu-1" id="submenu-1" class="menu__level" tabindex="-1" role="menu"
                aria-label="Projects">
                <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Create New Project</a></li>

                {{#each projectList}}
                <li class="menu__item" role="menuitem"><a class="menu__link" href="#">{{name}}</a></li>
                {{/each}}
                
            </ul>
            <!-- Submenu 2 -->
            <ul data-menu="submenu-2" id="submenu-2" class="menu__level" tabindex="-1" role="menu"
                aria-label="Dashboard">
                <li class="menu__item" role="menuitem"><a class="menu__link" href="#">History</a></li>
                
            </ul>
    </nav>