<div class="content position-bg">
    <div class="background-mao">
        <img src="/assets/images/project-mao.png">
        <p class="info">What we need is an enthusiastic but calm state of mind, and intense but orderly work. - Mao (1939)</p>
    </div>
</div>
{{> navbar}}