<!-- Main container -->
<div class="container-nav">
    <header class="bp-header cf">
        <div class="dummy-logo">
            <h2 class="dummy-heading">Mao Mun Tai</h2>
        </div>
    </header>
    <button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
    <nav id="ml-menu" class="menu">
        <button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
        <div class="menu__wrap">
            <ul data-menu="main" class="menu__level menu__level--current" tabindex="-1" role="menu" aria-label="All">
                <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1"
                        aria-owns="submenu-1" href="#">Projects</a></li>
                <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2"
                        aria-owns="submenu-2" href="#">Dashboard</a></li>
                <div class="button" id="button-5">
    <div id="translate"></div>
    <a href="#">Mao Mode</a>
  </div>

                <div class="button" id="button-7">
    <div id="dub-arrow"><img src="/assets/images/logout-icon.png" alt=""/></div>
    <a href="#">Log Out</a>
  </div>
            </ul>
            <!-- Submenu 1 -->
            <ul data-menu="submenu-1" id="submenu-1" class="menu__level" tabindex="-1" role="menu"
                aria-label="Projects">
                <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Create New Project</a></li>
                {{!-- <div class="button" id="button-5">
    <div id="translate"></div>
    <a href="#">Mao Mode</a>
  </div>

                <div class="button" id="button-7">
    <div id="dub-arrow"><img src="/assets/images/logout-icon.png" alt=""/></div>
    <a href="#">Log Out</a>
  </div> --}}
            </ul>
            <!-- Submenu 2 -->
            <ul data-menu="submenu-2" id="submenu-2" class="menu__level" tabindex="-1" role="menu"
                aria-label="Dashboard">
                <li class="menu__item" role="menuitem"><a class="menu__link" href="#">History</a></li>
                {{!-- <div class="button" id="button-5">
    <div id="translate"></div>
    <a href="#">Mao Mode</a>
  </div>

                <div class="button" id="button-7">
    <div id="dub-arrow"><img src="/assets/images/logout-icon.png" alt=""/></div>
    <a href="#">Log Out</a>
  </div> --}}
            </ul>
    </nav>
    <div class="content">
        <img src="/assets/images/project-mao.png">
        <p class="info">What we need is an enthusiastic but calm state of mind, and intense but orderly work. - Mao
            (1939)</p>
    </div>
</div>