<!-- Main container -->
<div class="container-nav">
    <header class="bp-header cf">
        <div class="dummy-logo">
            <h2 class="dummy-heading">Mao Mun Tai</h2>
        </div>
    </header>
    <div class="wrapper-buttons">
    {{> navbar}}
        <div class="position-mao">
            <div class="button" id="button-5">
                <div id="translate"></div>
                <a href="#">Mao Mode</a>
            </div>
        </div>
        <div class="position-logout">
            <div class="button" id="button-7">
                <div id="dub-arrow"><img src="/assets/images/logout-icon.png" alt="" /></div>
                <a href="#">Log Out</a>
            </div>
        </div>
    
    <div class="content">
        <img src="/assets/images/project-mao.png">
        <p class="info">What we need is an enthusiastic but calm state of mind, and intense but orderly work. - Mao
            (1939)</p>
    </div>
    </div>
</div>