<section class="main-cover">
    <div class="main-grid">
        <div class="login-grid">
            <h1 class="name">Mao Mun Tai</h1>
            <button id="main-login-butt">Login / Sign Up
            </button>
            <button>Learn More</button>
        </div>
    </div>
    <!-- Login Form -->
    <div class="full-menu">
        <div class="fullmenu-content">
            <ul class="page-menu">
                <h2 class="ink-text">Login</h2>
                <form action="/login" method="post">
                    <label for="email-login" class="ink-text">Email Login : </label>
                    <input type="text" id="email" name="username" placeholder="User Email">

                    <label for="password" class="ink-text">Password : </label>
                    <input type="password" id="password" name="password" placeholder="Type in your password">

                    <input type="submit" value="Login">
                </form>

                {{!-- Social Media Login --}}

                <h2 class="ink-text">Login with Facebook / Gmail</h2>

                <a href="/auth/facebook" class="zocial facebook">Facebook&nbsp; &nbsp;</a>
                <a href="/auth/google" class="zocial googleplus"> Google+ &nbsp;</a>

                <!-- Sign Up Form -->

                <button class="collapsible">New Comrade? Sign Up Now!</button>
                <div class="content">
                    <form action="/signup" method="post">
                        <label for="fname">First Name : </label>
                        <input type="text" id="fname" name="fName" placeholder="Your First Name">

                        <label for="lname">Last Name : </label>
                        <input type="text" id="lname" name="lName" placeholder="Your Last Name">

                        <label for="email">Email : </label>
                        <input type="text" id="signup-email" name="username" placeholder="Email Use For Future Login">

                        <label for="password">Password : </label>
                        <input type="password" id="signup-password" name="password"
                            placeholder="Password Use For Future Login">


                        <input type="submit" value="Sign Up">
                    </form>
                </div>
                <a href="#0" class="modal-close"></a>

            </ul>
        </div>
    </div>
    <div class="cd-transition-layer">
        <div class="bg-layer"></div>
    </div>
    <!-- Ink Transition -->
</section>