<section class="main-cover">
    <!-- The overlay -->
    <div class="cover-overlay"></div>
        <div id="learn-more" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="#" id="closebtn" class="sticky closebtn" onclick="closeNav()">&times;</a>

        <!-- Overlay content -->
        <div class="overlay-content">
            <div class="about-main-grid">
                <div class="about-sub-grid">
                    <div class="about">
                        <h2>About Mao Mun Tai</h2>
                        <p>This is a task managing application being built by 3 students currently studying a
                            software
                            engineering boot camp.</p>
                        <p></p>
                    </div>
                </div>
                <div class="features-sub-grid">
                    <div class="features">
                        <h3>Features</h3>
                        <ul style="list-style-type:circle;" class="overlay-points">
                            <li>Keep Track On Projects</li>
                            <li>Progress Monitor</li>
                            <li>Clarity On Work Allocation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="main-grid">
        <div class="login-grid">
            <h1 class="name">Mao Mun Tai</h1>
            <button id="main-login-butt" class="main-butt-text">Login / Sign Up
            </button>
            <button id="main-learn-butt" class="main-butt-text" onclick="openNav()">Learn More</button>
        </div>
    </div>
    <!-- Login Form -->
    <div class="full-menu">

        <div class="fullmenu-content">

            <ul class="page-menu">
                <div class="main-log-grid">
                    <a href="#" class="sticky modal-close cross">&times;</a>
                    <div class="email-log-grid">
                        <h2 class="title">Login</h2>
                        <div class="email-log-main-grid">

                            <form action="/login" method="post">
                                <div class="sub-main-grid">
                                    <div class="grid-1-1">
                                        <label for="email-login" class="ink-text">Email Login : </label>
                                    </div>
                                    <div class="grid-1-2">
                                        <input type="text" id="email" class="input-text" name="username"
                                            placeholder="User Email">
                                    </div>
                                    <div class="grid-2-1">
                                        <label for="password" class="ink-text">Password : </label>
                                    </div>
                                    <div class="grid-2-2">
                                        <input type="password" id="password" class="input-password" name="password"
                                            placeholder="Login Password">
                                    </div>

                                    <input type="submit" value="Login" class="input-submit">
                                </div>
                            </form>
                        </div>
                    </div>
                    {{!-- Social Media Login --}}

                    <div class="social-log-grid">
                        <h2 class="title">Login with Facebook / Gmail</h2>

                        <a href="/auth/facebook" class="zocial facebook">Facebook&nbsp; &nbsp;</a>
                        <a href="/auth/google" class="zocial googleplus"> Google+ &nbsp;</a>
                    </div>
                </div>
                <div class="s-grid">
                    <!-- Sign Up Form -->
                    <div class="signup-grid">
                        <button class="collapsible">New Comrade? Sign Up Now!</button>
                        <div class="content">
                            <form action="/signup" method="post">
                                <div class="sub-main-grid">
                                    <div class="grid-1-1">
                                        <label for="fname" class="ink-text-s">First Name : </label>
                                        <input type="text" id="fname" class="input-text-s" name="fName"
                                            placeholder="Your First Name">
                                    </div>
                                    <div class="grid-1-2">
                                        <label for="lname" class="ink-text-s">Last Name : </label>
                                        <input type="text" id="lname" class="input-text-s" name="lName"
                                            placeholder="Your Last Name">
                                    </div>
                                    <div class="grid-2-1">
                                        <label for="email" class="ink-text-s">Email : </label>
                                        <input type="text" id="signup-email" class="input-text-s" name="username"
                                            placeholder="Login Email">
                                    </div>
                                    <div class="grid-2-2">
                                        <label for="password" class="ink-text-s">Password : </label>
                                        <input type="password" id="signup-password" class="input-password-s"
                                            name="password" placeholder="Login Password">
                                    </div>

                                    <input type="submit" value="Sign Up" class="input-submit-s">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    </div>
    <div class="cd-transition-layer">
        <div class="bg-layer"></div>
    </div>
    <!-- Ink Transition -->
</section>