<div class="content-create">
    <h2>Create a project, and slave for the motherland.</h2>
    <div class="container-form">
        <form>
            <label for="projectName">Project Name : </label>
            <input id="createProjName" type="text" class="projectName block" name="project-name" placeholder="Enter New Project Name">

            <label for="description" class="block">Due Date : </label>

            <input id="createProjDue" type="date" id="due-date" class="block" name="due-date" value="">

            <label for="teammates" class="block-mem">Choose Your Members :</label>
            <div class="show-members"></div>
            <input type="text" id="team" class="block" name="teammates" value="">
            <div class="match-members"></div>
<<<<<<< HEAD
            <input type="submit" class="block" value="Submit">
=======
            <input id='addProject' type="submit" class="block" value="Submit">
>>>>>>> 3cddc940cd9ac906f213847a5d2ab38d109ed59e

        </form>
    </div>
</div>
{{> navbar}}