<div class="content-create">
    <h2 class="header">Create Project</h2>
    <div class="container-form">
        <form>
            <label for="projectName">Project Name : </label>
            <input id="createProjName" type="text" class="projectName block" name="project-name" placeholder="Enter New Project Name">

            <label for="description" class="block">Due Date : </label>

            <input id="createProjDue" type="date" id="due-date" class="block" name="due-date" value="">

            <label for="teammates" class="block-mem">Choose Your Members :</label>
            <div class="show-members"></div>
            <input type="text" id="team" class="block" name="teammates" value=""  placeholder="Enter Member's Name / Email">
            <div class="match-members"></div>
            <input id='addProject' type="submit" class="block" value="Submit">

        </form>
    </div>
</div>
{{> navbar}}