<div class="main-cards">
        <div class="row">
            <div class="col">
                <div class="card">
                    <canvas id="myChart" width="300" height="300"></canvas>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <canvas id="myChart-1" width="300" height="300"></canvas>
                </div>

            </div>
            <div class="col">
                <div class="card">
                    <canvas id="myChart-2" width="300" height="300"></canvas>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <canvas id="myChart-3" width="300" height="300">

                    </canvas>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="cards">
                    <div class="pie-chart-container">
                        <canvas id="pie-chartcanvas-1"></canvas>
                    </div>
                </div>

            </div>


            <div class="col-sm">
                <table id="tablePreview" class="table">
                    <!--Table head-->
                    <thead>
                        <tr>
                            <th>Summary</th>
                            <th>Name</th>
                            <th>Team</th>
                            <th>Tasks</th>
                            <th>Progress</th>
                            <th>Completed</th>
                            <th>Due</th>





                        </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>

                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                    <!--Table body-->
                </table>
            </div>


            <div class="col-sm">

                <table class="table table-sm table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
       
    </div>